@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    luxury --prefersdark;
}

:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  user-select: none;
}


.her-style {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  /* font-weight: 900; */
}

.menu a {
  font-size: 16px;
}

.menu-sm li:not(:first-child) {
  margin-top: 30px;
}